Package: com.myrepospace.DomT4.mflatenhanced
Name: M'Flat Enhanced
Version: 1.4
Architecture: iphoneos-arm
Description: M’Flat Enhanced: Original Creations. (Retina, iPad & Non-Retina Support).
Depiction: http://myrepospace.com
Homepage: http://cydia.myrepospace.com/DomT4/
Author: Dominyk <dom_t4@yahoo.co.uk>
Maintainer: Dominyk <dom_t4@yahoo.co.uk>
 